<div class="okeReviews-widget-holder" data-oke-reviews-widget-holder data-oke-reviews-product-id="shopify-{{ product.id }}"> 
  <div data-oke-reviews-nav-bar></div> 
  <div data-oke-reviews-widget>{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
  <div data-oke-reviews-qanda></div> 
</div>
<style>
  .okeReviews.okeReviews--theme .okeReviews-widgetNavBar-item, .okeReviews.okeReviews--theme .okeReviews-reviewsAggregate-side, .okeReviews.okeReviews--theme .okeReviews-reviewsAggregate-primary, .okeReviews.okeReviews--theme .okeReviews-review-side, .okeReviews.okeReviews--theme .okeReviews-review-primary, .okeReviews.okeReviews--theme .okeReviews-select-input, .okeReviews.okeReviews--theme .okeReviews-reviewsWidget-emptyMessage, .okeReviews.okeReviews--theme .okeReviews-reviewsWidget-loadingMessage, .okeReviews.okeReviews--theme .okeReviews-button, .okeReviews.okeReviews--theme .okeReviews-reviews-showMore, .okeReviews.okeReviews--theme .okeReviews-review-attribute-value, .okeReviews.okeReviews--theme .okeReviews-review-helpful, .okeReviews.okeReviews--theme .okeReviews-reviews-controls-reviewCount, .okeReviews.okeReviews--theme .okeReviews-sectionedList-list-item, .okeReviews.okeReviews--theme .okeReviews-review-date, .okeReviews.okeReviews--theme .okeReviews-review-helpful-vote-button, .okeReviews.okeReviews--theme .okeReviews-reviewsAggregate-summary-total, .okeReviews.okeReviews--theme .okeReviews-reviewsCarousel-review-reviewer-name, .okeReviews.okeReviews--theme .okeReviews-reviewsCarousel-review-reviewer-date, .okeReviews.okeReviews--theme .okeReviews-qandaWidget {
    color: #000;
  }
</style>