{% if product.handle == 'beard-balm' %}

<div class="faq-main-block">
	 <h2 class="ibn_faq_heading">FAQs</h2>
        <h2 class="ibn_faq_sub_heading">Frequently Asked Questions</h2>
	<div class="accordion">
		<details class="accordion-item">
          <summary>
          <div class="accordion__toggle bold"><span>What Should I Look for in a Beard Balm?</span><span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate"><svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6">
        <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
      </svg></span>
    </div>
                         </summary>
			<div class="accordion-content">
			<p class="inner">There are a few key components of beard balm that will make or break its effectiveness. First and foremost, keep an eye out for alcohol-based scents, which can damage the skin instead of leaving it hydrated and healthy. Some balms also use synthetic ingredients, such as petroleum jelly, but we don't recommend those as they can cause skin irritation and mess with your facial hair. Balms with synthetic ingredients won't properly seal in moisture, which eventually leads to dry facial hair and breakage.</p>
            </div>
            </details>
		<details class="accordion-item">
          <summary>
          <div class="accordion__toggle bold"><span>How Does Beard Balm Differ From Other Beard Products?</span><span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate"><svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6">
        <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
      </svg></span>
    </div>
                         </summary>
          <div class="accordion-content">
			     <p class="inner">Even though both terms may often be used interchangeably, it’s important that you can distinguish between beard oil and beard balm. Each product is formulated with different ingredients specifically selected for a purpose. A complete beard routine should ideally include both oil and balm, along with other products like conditioners and waxes; however, it all depends on your individual needs and beard goals.</p>
		</div>
        </details>
		<details class="accordion-item">
          <summary>
          <div class="accordion__toggle bold"><span>Beard Oil vs. Beard Balm?</span><span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate"><svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6">
        <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
      </svg></span>
    </div>
                         </summary>
			<div class="accordion-content">
			<p class="inner">Beard oil is similar to beard balm, but it's not as thick. While balm keeps your beard moisturized, beard oil is mainly for moisturizing the skin on your face.<br>

			The skin on our faces is thinner and more prone to irritation and dryness than the rest of our bodies. Good-quality beard oil can keep facial skin healthy and soft. Healthy skin can promote healthy beard growth.
			</p>
		</div>
        </details>
		<details class="accordion-item">
          <summary>
          <div class="accordion__toggle bold"><span>When to Use Beard Oil or Beard Balm</span><span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate"><svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6">
        <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
      </svg></span>
    </div>
                         </summary>
			<div class="accordion-content">
			<p class="inner">Not sure when to use oil or balm? You can generally apply beard balm when you need to style your beard or tame it for certain occasions, such as a formal event or a job interview. If your beard is thin or patchy and you want it to appear thicker, try using a balm with shea butter. The shea butter can help make your beard look fuller.</p>
		</div>
        </details>
	</div>
</div>
{% endif %}

{% if product.handle == 'jelly-beard-oil' %}
    <div class="faq-main-block">
      <h2 class="ibn_faq_heading">FAQs</h2>
        <h2 class="ibn_faq_sub_heading">Frequently Asked Questions</h2>
        <div class="accordion one">
            <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title">What does beard oil do?</span>
                   
                </button>
                <div class="accordion-content">
                    <p>
                        Bossman Beard Oil is a conditioning product that is designed to moisture beard hair and give it a softer, more lush texture. Our beard oil has been formulated to hydrate skin beneath the hair, an area that can get dry and flaky without a good moisturizer.
                    </p>
                  <p>Although many beard oil products claim to hydrate the skin, our beard oil penetrates deep into those pores to help maintain healthy hydration and soften hair at the source of each and every follicle on your face.</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title">Will beard oil promote beard growth?</span>
                    
                </button>
                <div class="accordion-content">
                  <p>The jury is still out on that one to be perfectly honest. However, what we do know is that we've combined an all-star roster ingredients for moisturizing and nourishing the skin. We've chosen jojoba, beeswax, sunflower seed oil, and soybean oil, just to name a few, to help smooth your beard and hydrate all types of skin, from oily to dry to sensitive and every other type in between...and there are many!</p>
              
              </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">How to apply beard oil?</span>
                   
                </button>
                <div class="accordion-content">
                  <p>Much like with your grand-dad's old Brylcreem – a little dab'll do ya. Squeeze a few drops into your hand, about the size of a dime, and then rub it in between your hands to warm up the oil. Now run it through all of your beard hair, the cheeks, the chin, the jawline, and don't forget the mustache above your upper lip. While you're rubbing it through the hair make sure you get plenty of it along the skin too. That way you can be sure you're evenly distributing it everywhere all at the same time.</p>
                  <p>Your beard no doubt looks like you've been dragged through a bush backwards. If that's the look you want, that's cool and all. But you're probably going to want to tame that facial hair so go grab a comb and get everything under control.</p>
              </div>
            </div>
          <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">How long does beard oil take to work?</span>
                    
                </button>
                <div class="accordion-content">
                    <p>
                        This is one of those questions that will largely depend on the person using the beard oil. Simply put, every face is different and no two beards are alike. That's right, you're unique in every way. So the length of time it takes to work for you may not be the same as the next guy. There are a couple of factors to keep in mind:
                    </p>
                  
                  <h3 style="font-weight: 700;">Type of beard oil</h3>
                  <p>For starters, your choice of beard oil will play a large role in how long it takes to make a difference on your face. Bossman Beard Oil is made with a variety of moisturizing ingredients to make your beard looks its best at all times. The goal is to absorb the oil as quickly and thoroughly as possible and the active ingredients in our oils are specially formulated to soak into the hair and skin faster than other oils on the market with heavy viscosity.
</p>
                  <p>When the oil is layered on top of your face, it's not getting into your face. That's bad because it means it's just not working. Bossman Beard Oil permeates and penetrates where it needs to be, so feel free to apply it twice a day. Once in the morning before you go to work, once in the evening before you go to bed. Don't worry about staining your clothes or your pillow after you rub it in. Our beard oil absorbs fast.
</p>
                  <h3 style="font-weight: 700;">Type of facial hair</h3>
                  <p>Our beard oil is formulated for all guys to use. Facial hair may be rough and coarse, soft and smooth, dry or oily, the type you have can determine how long it will take to start seeing satisfactory results from using beard oil. As a rule of thumb, if your beard hair tends to be dry, you may notice you're using more of it before the product begins to work. Smooth beard hair will often show results in a shorter period of time.
</p>
                  <h3 style="font-weight: 700;">Type of skin</h3>
                  <p>Yeah this too can play a role in how long it will take for beard oil to work. It's all about how quickly the oil is absorbed into the pores of the skin. Larger pores, naturally, soak up beard oil a lot easier than tight, smaller pores. If you have the former, then you're going to start seeing results anywhere between four to six weeks because the oil is getting to the roots of the follicles much faster. But if your skin is dry and has tighter pores, it's all good, you may just need to give it a little extra time to see those results.
</p>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        const items = document.querySelectorAll('.accordion button');

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');

  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }

  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach((item) => item.addEventListener('click', toggleAccordion));



      
    </script>


{% endif %}


{%comment%}
{% section 'product-bottom' %}
{%endcomment%}
{% render 'product_infox' %}
<style>
.product-faq-content>h2 {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 25px;
    font-family: Bely;
    text-align: center;
}
  .faq-main-block {
  margin: 0 auto;
  padding-top:80px;
  padding-bottom:100px;
  max-width:896px;
}
  .faq-main-block h2 {
    text-align: center;
}
.ibn_faq_heading{
font-weight: 600;
font-size: 22px;
line-height: 27px;
text-align: center;
color: #000000;  
  }
.ibn_faq_sub_heading{
font-family: 'Bely';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
margin-top: 0px;
color: #000000;}

.accordion-title{
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
}
.accordion .accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.accordion-content{
font-family:"Proxima Nova Regular";
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: rgba(0, 0, 0, 0.6);
padding-right:70px;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding:35px 0px;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #000000;
}

.accordion button:after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(https://cdn.shopify.com/s/files/1/2283/7011/files/add_circle_outline_24px_outlined.png?v=1650276169);
    position: absolute;
    background-size: cover;
    right: 0;
    border-radius: 100%;
}

.accordion button[aria-expanded='true']:after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(https://cdn.shopify.com/s/files/1/2283/7011/files/remove_circle_outline_24px_outlined.png?v=1650276209);
    position: absolute;
    background-size: cover;
    right: 0;
    border-radius: 100%;
}



/* .accordion button:after {
    content: '\02795';
    font-size:9px;
    color:#DADADA;
    float: right;
    margin-left: 5px;
    border: 1px solid #DADADA;;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    padding-left:1.5px;
    font-weight:700;
}
.accordion button[aria-expanded='true']:after {
  content: "\2796"; 
} */
/* .accordion button[aria-expanded='true'] {
  color: #000000;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
} */
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: max-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  padding-bottom:22px
}
.accordion.one .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-item:last-child {border-bottom:none;}
@media(max-width:440px){
 .faq-main-block {
  padding: 1rem;
} 
}

span.accordion-title {
    font-family: 'Proxima Nova Semibold';
}
.accordion-content h3 {
   font-family: 'Proxima Nova Semibold';
}
  @media(min-width:768px) and (max-width:1024px) {.faq-main-block{max-width:90%;}}
@media (max-width:767px){
  .accordion button{padding-top:35px;padding-bottom:35px;}
  .accordion-content{padding-right:25px;}
  .accordion button .accordion-title {
   padding-right:20px;
   padding-left:0px;
   padding-top:10px;
   padding-bottom:10px;
}
  }

</style>
{% schema %}
  {
    "name": "Product FAQ's",
    "settings": [],
    "presets": [
      {
        "name": "Product FAQ's",
        "category": "text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}