<div class="product-okendo-review">
    <div class="product-okendo-review__inner">
        {% include 'okendo-reviews-widget' %}
    </div>
</div>
{% schema %}
  {
    "name": "Product Okendo Review",
    "settings": [],
    "presets": [
      {
        "name": "Product Okendo Review",
        "category": "reviews"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}